/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

::selection {
  background: var(--branding-color);
}
::-moz-selection {
  background: var(--branding-color);
}

html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

:root {
    --branding-color: #f38817;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Poppins', sans-serif; 
    --secondary-color: #fae9d8;
}

body {
font-family: var(--default-font-family);
}


h1 h2 h3 h4 h5 h6 {
color: black;
font-family: var(--heading-font-family);
font-weight: bold;
}

h1 {
    font-size: 52px;
}

p {
font-weight: normal;
}

h3 {
  font-size: 28px;
}

h2.mb-3 {
    font-size: 26px;
}

p.text-muted::selection {
background: var(--branding-color);
color: white;
}

.logo {
margin-top: 7px;
transition: all 80ms ease-in-out;
}

.logo:hover {
  color: #ca4f02;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
display: inline;
list-style-type: none;
line-height: 42px;
margin-left: 15px;
}

nav a {
text-decoration: none;
color: #272142;
transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a
{
  color: #ca4f02;
}


.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;

  padding: 20px 0;
}


.top-nav a {
  text-decoration: none;
color: #272142;
transition: all 100ms ease-in-out;
}

.top-nav li {
display: inline;
list-style-type: none;
line-height: 42px;
margin-left: 15px;
}

.top-nav a:hover,
.top-nav li.active a {
  color: #ca4f02
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid white;
    height: 2.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: black;
    background-color: white;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid white;
  }
}




.hero {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 80px 20px;
}

.hero p {
    font-size: 23px;
    font-weight: bold;
    color: #272142;
    margin-bottom: 8px;
}

.hero h2 {
font-family: var(--default-font-family);
font-weight: normal;
font-size: 20px;
line-height: 24px;
color: #272142;
}

.contact-button {
background: var(--branding-color);
border-radius: 4px;
color: white;
line-height: 27px;
padding: 15px 30px;
}

.primary-link {
border: 1px solid #ca4f02;
border-radius: 4px;
font-size: 18px;
line-height: 27px;
padding: 15px 30px;
color: #ca4f02;
text-decoration: none;
}

.primary-link:hover {
  color: #272142;
}

.content {
  padding: 60px 20px;
  text-align: center;
}

.content h1 {
font-size: 56px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content-inner {
  margin: 30px;
}

.content-inner h3 {
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
  font-family: var(--default-font-family);
}

.content-inner p {
  font-size: 14px;
}

footer {
  margin: 30px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 60px;
  border-radius: 10px;
  margin: 30px 0;
}

.e-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.e-link:hover {
  color: var(--branding-color);
}

.e-link:hover::selection {
  background: var(--secondary-color);
}

footer .social-links a {
margin: 0 20px;
color: var(--branding-color);
background: var(--secondary-color);
padding: 10px 14px;
font-size: 18px;
border-radius: 50%;
transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}

.git-link,
.contact-content-link {
  color: var(--branding-color);
}

.git-link::selection,
.contact-content-link::selection {
  background: var(--secondary-color);
}

.git-link:hover,
.contact-content-link:hover {
  color: #ca4f02;
}

.git-link:hover::selection,
.contact-content-link:hover::selection {
  background: var(--secondary-color);
}



@media (max-width: 576px) {
  h1 {
    font-size: 26px;
  }
  h2.mb-3 {
    text-align: center;
  }
  p .text-muted {
    text-align: left;
  }

.content h1 {
  font-size: 26px;
}

.content h2 {
  font-size: 16px;
}

  .hero {
    padding: 80px 20px;
}

.hero p {
font-size: 18px;
}

.hero h2 {
font-size: 16px;
}

  .primary-link {
    display: block;
    text-align: center;
    margin: auto 0;
  }
}